body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 205px;
    padding-bottom: 205px;
}

*::selection {
    color: white;
    background: #fecb00;
}

h1,h2,h3,h4,h5,h6,p,ul,a {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-title, .h3, .p {
    color: #485155;
}

.section-title {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1px;
}

.p {
    font-weight: 400;
    font-size: 15px;
}

.yellow {
    color: #fecb00;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}


.header__img {
    text-align: center;
}

.header__title {
    text-align: center;
    font-size: 28px;
}

.lang {
    margin-left: auto;
    width: 99px;
    margin-bottom: 100px;
}

.english {
    margin-left: 8px;
    margin-right: 8px;
}

.lang__item img {
    width: 25px;
    height: 18px;
}


.info__img {
    width: 30px;
    height: 30px;
}

.info__text_time {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 23px;
    color: white;
    max-width: 425px;
    margin-left: 22px;
    display: block;
}

.information {
    display: flex;
    width: 515px;
    padding: 50px;
    margin: 50px auto 100px auto;
    background: #96c11f;
}

.info__text {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 23px;
    color: white;
    max-width: 425px;
    margin-left: 22px;
    position: relative;
}

.header__btn {
    color: #485155;
    background: #dadfe1;
    padding: 14px 30px;
    display: block;
    width: 105px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.header__btn:hover {
    background: #fecb00;
    -webkit-box-shadow: 4px 4px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 17px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.table {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #96c11f;
}

.table__title {
    border: 1px solid #96c11f;
    color: #96c11f;
    padding: 9px 12px;
    text-align: left;
}

.table__text {
    padding: 9px 12px;
    border: 1px solid #96c11f;
    word-break: break-all;
}

.table__text p {
    background: #efefef;
    border: 1px solid #96c11f;
    padding-left: 12px;
    color: #96c11f;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer__wrap {
    display: flex;
    align-items: center;
}

.footer__wrap span {
    margin-left: 10px;
    margin-right: 10px;
    color: #b1b6b7;
    font-size: 11px;
}

.footer__link {
    color: #b1b6b7;
    font-size: 11px;
}

.footer__link:hover {
    text-decoration: underline #fecb00;
    color: #fecb00;
}

.footer__socials {
    width: 168px;
    margin-left: auto;
    display: flex;
}

.footer-socials__one:not(:last-of-type) {
    margin-right: 20px;
}

.socials-item {
    width: 13px;
    height: 13px;
    padding: 7px 7px;
    border-radius: 100%;
    overflow: hidden;
    background: none;
}

.footer-socials__link_first img:hover {
    background: #37589b;
    transition: all 0.5s ease-in-out;
}

.footer-socials__link_second img:hover {
    background: #a67658;
    transition: all 0.5s ease-in-out;
}

.footer-socials__link_third img:hover {
    background: #419cca;
    transition: all 0.5s ease-in-out;
}

.footer-socials__link_fourth img:hover {
    background: #006567;
    transition: all 0.5s ease-in-out;
}

.lang__item img {
    height: 16px;
}

/*  768-992  */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .table {
        width: 600px;
    }

    .table__text {
        max-width: 427px;
    }
}



/*  576-768  */
@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .information {
        max-width: 478px;
    }
}

/*  576-650  */
@media (max-width: 609px) {
    .table {
        width: 320px;
    }

    .table__text {
        max-width: 152px;
    }

    .table__text p {
        max-width: 120px;
    }

    .table__title {
        width: 136px;
    }

    .information {
        width: 320px;
        display: block;
    }

    .info__img {
        display: block;
        text-align: center;
        width: 30px;
        margin: 0 auto;
    }

    .info__text {
        margin: 0;
        text-align: center;
        margin-top: 15px;
    }
}

/*  320-576  */
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/*  320-500  */
@media (max-width: 500px) {
    .footer-container {
        flex-direction: column;
    }

    .footer__socials {
        margin-left: 0;
        margin-top: 10px;
    }

    .info {
        width: 213px;
    }
}